<label>name</label><input size="10" class="column-input column-input-name" type="input" resty_key="name"></input>
<label>label</label><input size="20" class="column-input" type="input" resty_key="label"></input>
<label>type</label><input size="16" class="column-input" type="input" resty_key="type"></input>
<label>default (in JSON)</label><input size="16" class="column-input" type="input" resty_key="default"></input>

