[% DEFAULT
    menu = [
        'Models',
        'Views',
        'Roles',
        'Actions',
        'Feeds',
    ],
    active_item = 'Views',
    submenu = [
        {
            description => 'Blog post',
            name => 'Post',
            src => '/=/model/Post',
        },
        {
            description => 'Blog comment',
            name => 'Comment',
            src => '/=/model/Comment',
        },
        {
            description => 'Yahoo! China Staff',
            name => 'YahooStaff',
            src => '/=/model/YahooStaff'
        },
        {
            description => 'IRC Log',
            name => 'IrcLog',
            src => '/=/model/IrcLog',
        }
    ];
-%]

[%- prefix = active_item.replace('s$', '') %]

<a id="logout-link" href="login.html">Logout</a>

<div class="tabnav">
    <ul>

        [%- i = 0 %]
        [%- FOREACH item IN menu %]

        <li class="[% item == active_item ? "cur" : "" %]">
            <a href="#[% item | lower %]" title="[% item %]">
                [% item %]
            </a>
        </li>

        [%- i = i + 1 %]
        [%- END %]

    </ul>
</div>

<div class="submenu">
    [%- FOREACH item IN submenu %]

        <a href="#[% prefix | lower %]-[% item.name %]" title="[% item.description | html %]">[% item.name | html %]</a>&nbsp;&nbsp;&nbsp;

    [%- END %]
</div>

