[% DEFAULT
    model = {
        description => 'Blog post',
        name => 'Post',
        columns => [
            {
                label => 'ID',
                name => 'id',
                type => 'serial',
            },
            {
                default => undef,
                label => 'Post title',
                name => 'title',
                type => 'text',
            },
            {
                default => undef,
                label => 'Post content',
                name => 'content',
                type => 'text',
            },
            {
                default => undef,
                label => 'Post author',
                name => 'author',
                type => 'text',
            },
            {
                default => 'now()',
                label => 'Post creation time',
                name => 'created',
                type => 'timestamp(0) with time zone',
            },
            {
                default => "'0'",
                label => 'Number of comments',
                name => 'comments',
                type => 'text',
            },
        ]
    };
%]
<!-- block begin -->
<div class="ttl">
    <span class="text">
        <a href="#[% model.name | lower %]" title="[% model.description | html %]">[% model.name %]</a>
    </span>
    <span class="tp"><a href="#__top" title="">页首↑</a></span>
</div>

<div class="listcon">
    <ul>
        <li><b class="key">Name</b>: [% model.name | html %]</li>
        <li><b class="key">Description</b>: [% model.description | html %]</li>
        <li><b class="key">Columns</b>:
            <ul>
            [%- FOREACH column IN model.columns %]
                <li>
              [%- FOREACH key IN column.keys %]
                [%- value = column.$key;
                    NEXT IF !value AND value != 0 %]
                <b class="key">[%- key | html %]</b>: [% value | html %] &nbsp;&nbsp;
              [%- END %]
                </li>
            [%- END %]
            </ul>
        </li>
    </ul>


    </ul>
    <div class="clearit"></div>
</div>
<!-- block end -->

