[% DEFAULT
    model = {
        description => 'Blog post',
        name => 'Post',
        columns => [
            {
                label => 'ID',
                name => 'id',
                type => 'serial',
            },
            {
                default => undef,
                label => 'Post title',
                name => 'title',
                type => 'text',
            },
            {
                default => undef,
                label => 'Post content',
                name => 'content',
                type => 'text',
            },
            {
                default => undef,
                label => 'Post author',
                name => 'author',
                type => 'text',
            },
            {
                default => 'now()',
                label => 'Post creation time',
                name => 'created',
                type => 'timestamp(0) with time zone',
            },
            {
                default => "'0'",
                label => 'Number of comments',
                name => 'comments',
                type => 'text',
            },
        ]
    };
%]

[% BLOCK editable_model_value -%]
<span class="editable" [% is_json ? 'resty_json="1"' : "" %] resty_path="model/[% model.name %][% column ? "/" _ column : "" %]" resty_key="[% key %]" resty_value="[% value | html %]">[% value | html %]</span>
[% END -%]

<!-- block begin -->
<div class="ttl">
    <span class="text">
        <a href="#modelrows-[% model.name %]">[% model.name %]</a>
    </span>
</div>

<div class="listcon">
    <ul>
        <li><b class="key">Name</b>: [% INCLUDE editable_model_value key="name", value=model.name %]</li>
        <li><b class="key">Description</b>: [% INCLUDE editable_model_value key="description", value=model.description %]</li>
        <li><b class="key">Columns</b>:
            <ul id="create-column">
            [%- FOREACH column IN model.columns %]
                <li>
              [%- FOREACH key IN column.keys %]
                [%- value = column.$key;
                    NEXT IF !value AND value != 0 %]
                [%- is_json = key == 'default' ? 1 : 0 %]
                <b class="key">[%- key | html %]</b>: [% INCLUDE editable_model_value column=column.name %] &nbsp;&nbsp;
              [%- END %]
                <b><a class="show-detail" href="javascript:void(0);" onclick="deleteModelColumn('[% model.name %]', '[% column.name %]')">Delete</a></b>
                </li>
            [%- END %]
                <li class="add-col">
                <a class="add-col-link" href="javascript:void(0);" onclick="addNewColumn('[% model.name %]')">Add a new column</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a class="show-detail" href="#modelrows-[% model.name %]">View model rows</a>
            &nbsp; &nbsp; &nbsp;
            <b><a class="show-detail" href="javascript:void(0);" onclick="deleteModel('[% model.name %]', 'models')">Delete this model</a></b>
        </li>
    </ul>
    <div class="clearit"></div>
</ul>

<ul>
<li><b><a href="#models">Back to the model list</a></b></p></li>
</ul>
</div>

<!-- block end -->

