[% DEFAULT
    models = [
        {
            description => 'Blog post',
            name => 'Post',
            src => '/=/model/Post',
        },
        {
            description => 'Blog comment',
            name => 'Comment',
            src => '/=/model/Comment',
        },
        {
            description => 'Yahoo! China Staff',
            name => 'YahooStaff',
            src => '/=/model/YahooStaff'
        },
        {
            description => 'IRC Log',
            name => 'IrcLog',
            src => '/=/model/IrcLog',
        }
    ];
%]
[%- i = 0 %]
[%- FOREACH model IN models %]
    [%- i = i + 1 %]

    <!-- block begin -->
    <div class="ttl">
        <span class="text">
            <a href="#[% model.name | lower %]" title="[% model.description | html %]">[% model.name %]</a>
        </span>
        <span class="tp"><!-- <a href="#__top" title="">页首↑</a> --></span>
    </div>

    <div class="listcon">
        <ul>
            <li><b>Name</b>: [% model.name | html %]</li>
            <li><b>Description</b>: [% model.description | html %]</li>
        </ul>

        </ul>
        <div class="clearit"></div>
    </div>
    <!-- block end -->

[%- END %]

