<label id="export-results"></label>
<a id="export-cancel" class="cancel" href="javascript:void(0);" onclick="cancelDumpModelRows = true;">Cancel</a>
<br/>
<br/>
<textarea readonly="1" id="model-dump-res" cols="60" rows="30"></textarea>

