[% DEFAULT
    category = 'model',
    objects = [
        {
            description => 'Blog post',
            name => 'Post',
            src => '/=/object/Post',
        },
        {
            description => 'Blog comment',
            name => 'Comment',
            src => '/=/object/Comment',
        },
        {
            description => 'Yahoo! China Staff',
            name => 'YahooStaff',
            src => '/=/object/YahooStaff'
        },
        {
            description => 'IRC Log',
            name => 'IrcLog',
            src => '/=/object/IrcLog',
        }
    ];
%]
[%- i = 0 %]
[%- FOREACH object IN objects %]
    [%- i = i + 1 %]

    <!-- block begin -->
    <div class="ttl">
        <span class="text">
            <a href="#[% category %]-[% object.name %]" title="[% object.description | html %]">[% object.name %]</a>
        </span>
        <span class="tp"><!-- <a href="#__top" title="">页首↑</a> --></span>
    </div>

    <div class="listcon">
        <ul>
            <li>
                <b>Name</b>: [% object.name | html %]
                &nbsp; &nbsp; &nbsp;
                <b>Description</b>: [% object.description | html %]
            </li>
            <li>
                <a href="#[% category %]-[% object.name %]" title="[% object.description | html %]">More detail</a>
                &nbsp; &nbsp; &nbsp;

                [%- IF category == 'model' %]
                <a href="#modelrows-[% object.name %]">View model rows</a>
                &nbsp; &nbsp; &nbsp;
                [%- END %]

                <b><a href="javascript:void(0);" onclick="delete[% category | ucfirst %]('[% object.name %]')">Delete this [% category %]</a></b>
            </li>
        </ul>
        <div class="clearit"></div>
    </div>
    <!-- block end -->

[%- END %]

