[%- DEFAULT
      cats = [ 'Model', 'View', 'Role' ];
%]
function dispatchByAnchor () {
    var anchor = location.hash;
    anchor = anchor.replace(/^\#/, '');
    if (savedAnchor == anchor)
        return;
    if (anchor == "") {
        anchor = 'models';
        location.hash = 'models';
    }
    savedAnchor = anchor;

    // prevent memory leaks from dynamically created <script> nodes:
    if (loadingCount <= 0) openresty.purge();
    loadingCount = 0;

    [%- FOREACH cat = cats %]

    if (anchor == '[% cat | lower %]s') {
        get[% cat %]s();
        return;
    }
    var match = anchor.match(/^[% cat | lower %]-(\w+)$/);
    if (match) {
        var [% cat | lower %] = match[1];
        get[% cat %]([% cat | lower %]);
        return;
    }

    [%- END %]

    // fallback
    alert("Not implemented :(");
}

