[%- FOREACH comment IN comments -%]
    <a id="post-[% post.id %]:comment-[% comment.id %]"></a>
    <div class="comment" id="comment-95523406">
        <div class="comment-content">
            [% comment.body %]
        </div>
        <p class="comment-footer">
            Posted by:
            [% comment.sender %] |
            [% comment.created %]
        </p>
    </div>
[%- END %]

