[%- FOREACH comment IN comments -%]
    <a id="c95523406"></a>
    <div class="comment" id="comment-95523406">
        <div class="comment-content">
            [% comment.body %]
        </div>
        <p class="comment-footer">
            Posted by:
            [% comment.sender %] |
            <a href="http://pugs.blogs.com/pugs/2007/10/a-graphical-tra.html#comment-95523406">[% comment.created %]</a>
        </p>
    </div>
[%- END %]

