[%
   SET prev_post = 0;
   SET next_post = 0;
   IF posts.length == 3;
     prev_post = posts.0;
     next_post = posts.2;
   ELSIF posts.length == 2;
     IF posts.0.id == 0;
        next_post = posts.1;
     ELSE;
        prev_post = posts.0;
     END;
   END -%]
[% IF prev_post %]
<a href="#post-[% prev_post %]">
    « [% prev_post.title %]
</a>
[% END %]
 |
<a href="#main"> Main </a> |
[% IF next_post %]
<a href="#post-[% next_post.id %]">[% next_post.id %] »</a>
[% END %]

