[% DEFAULT
    page = 1,
    page_count = undef,
    title = 'Pages'
-%]

[% IF page_count <= 10;
      from = 1;
      to = page_count;
   ELSE;
      from = page - 10 >= 1 ? page - 10 : 1;
      to = page + 9;
   END -%]

<center>
  <table class="paging">
    <tr>
      <td>
        [% title %]:&nbsp; &nbsp;
      </td>
      <td>
      [%- IF page > 1 %]
        <span class="prev-page">
            <a href="#post-list-[% page - 1 %]">Previous</a>
        </span>
      [%- END %]
      </td>

    [%- i = from; %]
    [%- WHILE i <= to %]
      [%- IF i == page %]
        <td><b>[% i %]</b></td>
      [%- ELSE %]
        <td>&nbsp;<a href="#post-list-[% i %]">[% i %]</a>&nbsp;</td>
      [%- END %]
      [%- i = i + 1 %]
    [%- END %]

      <td>
      [%- IF page < page_count %]
        <span class="next-page">
            <a href="#post-list-[% page + 1 %]">Next</a>
        </span>
      [%- END %]
      </td>
    </tr>
  </table>
</center>

