[% FOREACH comment IN comments -%]
<li class="module-list-item">
    <a href="#post-[% comment.post %]:comment-[% comment.id %]">[% comment.sender %]</a> on
    <a href="#post-[% comment.post %]">[% comment.title %]</a>
</li>
[% END -%]

