<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="generator" content="http://www.typepad.com/" />

        <script type="text/javascript" src="JSON.js"></script>
        <script type="text/javascript" src="dojo.openapi.js"></script>
        <script type="text/javascript" src="openapi.js"></script>
        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" src="Jemplate.js"></script>
        <script type="text/javascript" src="jemplates.js"></script>
        <script type="text/javascript" src="blog.js"></script>

    <meta name="description" content="agentzh's mad house" />

    <link rel="stylesheet" href="blog.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/common/print.css" type="text/css" media="print" />
        <link rel="alternate" type="application/atom+xml" title="Posts on 'Pugs' (Atom)" href="http://pugs.blogs.com/pugs/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="Posts on 'Pugs' (RSS 1.0)" href="http://pugs.blogs.com/pugs/index.rdf" />
    <link rel="alternate" type="application/rss+xml" title="Posts on 'Pugs' (RSS 2.0)" href="http://pugs.blogs.com/pugs/rss.xml" />


    <title>Human & Machine</title>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ced02.search.cnb.yahoo.com/=/feed/BlogPost" />
        <link rel="meta" type="application/rdf+xml" title="FOAF" href="http://pugs.blogs.com/foaf.rdf" />

</head>

<body class="layout-two-column-left">

        <a name="main" class="blog-top"></a>
    <div id="container">
        <div id="container-inner" class="pkg">

            <!-- banner -->
            [%- PROCESS 'banner.tt' %]

            <div id="pagebody">
                <div id="pagebody-inner" class="pkg">
                    <div id="alpha">
                        <div id="alpha-inner" class="pkg">
                            <!-- sidebar -->
                            [%- PROCESS 'sidebar.tt' %]
                        </div>
                    </div>
                    <div id="beta">
                        <div id="beta-inner" class="pkg">
                            <!-- entries -->
                        </div>
                        <div id="beta-pager" class="pkg">
                        </div>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
            <!--
            <center>
                <p>Copyright (c) 2008 by Yahoo! China EEEE works.</p>
            </center>
            -->
        </div>
    </div>

<!-- Start Quantcast tag -->
<!-- End Quantcast tag -->
</body>
</html>
