<div id="wait-message">
    <img src="loading.gif" alt="">
    &nbsp; <b>Loading...</b>&nbsp;
</div>

<div id="hd">
    <table id="banner">
        <tr>
            <td>
                <div>
                <!--
                    <a href="http://www.yahoo.cn"><img src="yahoo-logo.gif" alt="中国雅虎" title="中国雅虎"></a>
                -->
                </div>
            </td>
            <td>
                <span class="page-title">OpenResty Admin site</span>
            </td>

            <td id="greeting">
            </td>
        </tr>
    </table>
</div>

