<div id="wait-message">
    <img src="loading.gif"/>
    &nbsp; <b>Loading...</b>&nbsp;
</div>

<div id="hd">
    <table id="banner">
        <tr>
            <td>
                <div>
                    <a href="http://www.yahoo.cn"><img src="http://cn.yimg.com/i/os/v004/ylg.gif" alt="中国雅虎" title="中国雅虎"></a>
                </div>
            </td>
            <td id="version">
            </td>
        </tr>
    </table>
</div>

