<div id="ft">
<!--{{start:copy -->
<br/>
<p style="text-align: left; padding-left: 1em;">
This site can be downloaded from <a href="site-binary.tar.gz">here</a> (.tar.gz) and <a href="http://svn.openfoundry.org/openapi/trunk/demo/Admin/">its Subversion repository</a> has anonymous access to all.
</p>
<hr/>
<center>
<p>Powered by <a href="http://search.cpan.org/dist/OpenResty">OpenResty</a> and your web browser.</p>
<div id="copyright" class="cp1">
    <p>Copyright © 2008 Yahoo! China EEEE Works, Alibaba Inc.</p>
</div>
</center>
<!--}}end:copy -->
</div>

