<div id="ft">
<!--{{start:copy -->
<br>
<p style="text-align: left; padding-left: 1em;">
This site can be downloaded from <a href="site-binary.tar.gz">here</a> (.tar.gz) and <a href="http://svn.openfoundry.org/openapi/trunk/demo/Admin/">its Subversion repository</a> has anonymous access to all.
</p>
<hr>
<center>
<p>Powered by <a href="http://search.cpan.org/dist/OpenResty">OpenResty</a> and your web browser.</p>
<br>
<div id="copyright">
</div>
<p style="text-align: center">Copyright © 2008 Yahoo! China <a target="_blank" href="http://www.eeeeworks.org">EEEE Works</a>, Alibaba Inc.</p>
</center>

</div>

