[%- IF ! pack_js;
        js_files = [
            'dojo.openresty.js',
            'openresty.js',
            'md5.js',
            'jquery.js',
            'jquery.jeditable.pack.js',
            'jquery.cookie.pack.js',
            'admin-jemplate.js',
            'model.js',
            'view.js',
            'role.js',
            'feed.js',
            'action.js',
            'dispatcher.js',
            'admin.js',
        ];
    ELSE;
        js_files = [
            'jquery-min.js',
            'admin-min.js'
        ];
    END;
%]
<title>OpenResty Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="admin.css" type="text/css" media="screen">

[%- FOR file IN js_files %]
<script type="text/javascript" src="[% file %]"></script>
[%- END -%]

</head>

