<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        [%- PROCESS 'header.tt' %]
    </head>

    <body>

        [%- PROCESS 'banner.tt' %]

        <div id="bd">
            <div id="menu">
            </div>

            <div id="main">
            </div>

            <div id="pager">
            </div>

            [%- PROCESS 'footer.tt' %]
        </div>
    </body>
</html>

