<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        [%- PROCESS 'header.tt' %]
    </head>

    <body>
        <a class="location-anchor"></a>

        [%- PROCESS 'banner.tt' %]

        <form method="post" id="dummy-form" action="" style="display: none"></form>
        <div id="bd">
            <div id="menu">
            </div>

            <div id="main">
            </div>

            [%- PROCESS 'footer.tt' %]
        </div>
    </body>
</html>

