<ul>
[% last_id %]
[% FOREACH post IN posts -%]
    <li>
        <a href="#edit/[% post.id %]">[% post.title %]</a> &nbsp; &nbsp; <a href="javascript:deletePost([% post.id %])">Delete</a>
    </li>
    [%- last_id = post.id %]
[% END -%]
</ul>

<p class="pager">

[% IF offset > 0 %]
    <a href="#list/[% offset / count %]">Previous</a>
[% END %]
&nbsp; &nbsp;
&nbsp; &nbsp;
&nbsp; &nbsp;
&nbsp; &nbsp;
&nbsp; &nbsp;
[% IF last_id > 1 && posts.size == count %]
    <a id="more-recent-posts" href="#list/[% offset / count + 2 %]">
    Next
    </a>
[% END %]
</p>

