<html xmlns="http://www.w3.org/1999/xhtml" xmlns:php=
"http://php.net/xsl" lang="en">
<head xmlns="">
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 6 November 2007), see www.w3.org" />
  <meta http-equiv="Content-Type" content=
  "text/html; charset=us-ascii" />
  <meta http-equiv="X-UA-Compatible" content="IE=7" />
  <meta name="Generator" content=
  "Yahoo! Site Solution - centipede" />
  <meta name="DESCRIPTION" id="mDescription" content=
  "Mr Laurie Kan &#226;&#8364;&#8220; Founder &amp; General PartnerChina / Hong Kong / 48Mr Kan has worked for more than 15 years for some of the world&#226;&#8364;&#8482;s most successful technology companies, e.g. as Regional Manager for Apple Computers, as Regional Manager for Compaq Computers, as" />
  <meta name="KEYWORDS" id="mKeywords" content=
  "Private Equity, Our Team, F22 Silver Base Center, Gloucester Road, Central, Hong Kong" />
  <link rel="stylesheet" type="text/css" media="screen" id=
  "globalCSS" href="css/global.css" />
  <link rel="stylesheet" type="text/css" media="screen" id=
  "themeCSS" href="css/theme.css" />
  <link rel="stylesheet" type="text/css" media="screen" id=
  "layoutCSS" href="css/layout.css" />
  <link rel="stylesheet" type="text/css" media="screen" id=
  "listCSS" href="" />
  <link rel="stylesheet" type="text/css" media="screen" id=
  "extensionsCSS" href="css/slideshow.css" />

  <title>Private Equity - Our Team</title>
  <style type="text/css">
/*<![CDATA[*/
  blockquote {margin-right:0;padding-right:0} 
  /*]]>*/
  </style>
  <script type="text/javascript" src="js/onccf.js"></script>
</head>

<body>
  <div id="body">
    <div id="doc">
      <div xmlns="" id="hd">
        <div id="hContent">
          <div id="headerContent" class="editorWrap">
            <div id="headerZoneElement" class=
            "editable rte flexContent" rel="itemGuid.sit.hc.001">
              <h1>ON Capital China Fund</h1>
            </div>
          </div>
        </div>

        <div id="hMisc">
          <div class="contactInfoContainer" style=
          "width:auto;height:auto">
            <p class="vcard"><span class="adr"><span class=
            "street-address">F22 Silver Base Center</span><br />
            <span class="extended-address">Gloucester Road,
            Central</span><br />
            <span class="locality">Hong
            Kong</span></span><span class="phoneNumbers"><br />
            <span class="tel"><span class="type">ph:</span> +852
            6880 0198</span></span><br />
            <span class="mailtoWrapper"><a class="email" href=
            "mailto:kewccdadmin@kewccd.com">kewccdad<wbr />min<wbr />@kewccd<wbr />.com</a></span></p>
          </div>
        </div>
      </div>

      <div xmlns="" id="navigation">
        <ul id="mainNav">
          <li><a href="/home">Home</a></li>

          <li><a href="/portfolio">Portfolio</a></li>

          <li class="active"><a href="/our_team">Our Team</a></li>

          <li><a href="/contact_us">Contact Us</a></li>
        </ul>
      </div><script xmlns="" type="text/javascript">
//<![CDATA[
            var _newCollItemsByXSL = {};
      //]]>
      </script>

      <div xmlns="" id="bd">
        <div id="pageName">
          <div id="pageNameContent" class="editorWrap">
            <div id="pageNameZoneContent" class=
            "editable rte flexContent" rel=
            "itemGuid.pgName.pageGuid.about.001">
              <h2>Our Team<br /></h2>
            </div>
          </div>
        </div>

        <div id="zWrap">
          <div id="zA">
            <div class="modWrap">
              Mr Laurie Kan &#226;&#8364;&#8220; Founder &amp;
              General Partner<br />
              China / Hong Kong / 48<br />
              <br />
              Mr Kan has worked for more than 15 years for some of
              the world&#226;&#8364;&#8482;s most successful
              technology companies, e.g. as Regional Manager for
              Apple Computers, as Regional Manager for Compaq
              Computers, as Supervisory Board Director for Packard
              Bell and as Managing Director for Microsoft in Hong
              Kong and Southern China. These experiences have
              endowed him with ample expertise and sharp view as a
              VC investor around China growth opportunities, esp.
              in TMT and greentech<br />
              <br />
              For the next 4 years, Mr Kan began to create, invest
              in and run technology companies. In 1997, he became
              founder and lead investor in PointCast Asia and
              meanwhile was COO of China Internet Corporation (now
              China.com). In 1998, he was responsible for the
              turnaround of Timeless Software, which later became
              the 1st company listed on the GEM in HK. In 1999, he
              established sina.com in HK&#194;&nbsp;<br />
              <br />
              Since 1999, Mr Kan has been working in the VC/PE
              industry.&#194;&nbsp; Initially, in partnership with
              H&amp;Q Asia Pacific and JH Whitney, he established
              i100 Corporation, which was listed on the HK Stock
              Exchange. i100 has invested in a number of wireless
              and telecom related value added services and software
              utilities in Hong Kong and China<br />
              <br />
              In 2004, Mr Kan launched ON Capital China Fund and
              has returned 4.0 times realized + unrealized value
              for the fund in 3 years, multiplying initial
              investment principal for all investors<br />
              <br />
              Mr Kan graduated in business from the HK Baptist
              College and from the Stanford Graduate School of
              Business Executive Program for Smaller Companies. He
              is an active participant in the advancement of the IT
              industry in HK and the PRC, and proactively served on
              a number of influential committees
            </div>
          </div>

          <div id="zB">
            <div class="modWrap"></div>
          </div>

          <div id="zC" style="padding-left: 3em;">
            <div class="modWrap">
              <div id="contact-us">
                <h3>Contact Us</h3>
                <p>We have offices over Hong Kong, Beijing, Shanghai
                and Shenzhen, you can contact us where most
                convenient for you.</p>Go to <a type="2" href=
                "/contact_us" class="internallink">Contact Us</a>
                page
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div xmlns="" id="ft">
        <div id="fContent">
          <div id="footerContent" class="editorWrap">
            <div id="footerZoneElement" class=
            "editable rte flexContent" rel=".footerContent"></div>
          </div>
        </div>

        <div id="fMisc">
          <div class="contactInfoContainer" style=
          "width:auto;height:auto">
            <p class="vcard"><span class="adr"><span class=
            "street-address">F22 Silver Base Center</span><br />
            <span class="extended-address">Gloucester Road,
            Central</span><br />
            <span class="locality">Hong
            Kong</span></span><span class="phoneNumbers"><br />
            <span class="tel"><span class="type">ph:</span> +852
            6880 0198</span></span><br />
            <span class="mailtoWrapper"><a class="email" href=
            "mailto:kewccdadmin@kewccd.com">kewccdad<wbr />min<wbr />@kewccd<wbr />.com</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

