[% first_time = 1 %]
[% FOREACH menu = menu_list %]
    [%- IF first_time; first_time = 0; END %]
    <li [%- first_time ? ' class="active"' : "" %]><a href="#menu/[% menu.name %]">[% menu.label %]</a></li>
[% END %]

