[% FOREACH menu = menu_list %]
    <li [%- first_time ? ' class="active"' : "" %]><a href="#menu/[% menu.name %]" onclick="savedAnchor = null;">[% menu.label %]</a>
    <ul id="menu-[% menu.name %]" class="submenu" loaded="">
    </ul>
    </li>
[% END %]

