[% submenu_base = submenu.name.replace('^[^.]+\.', '') -%]

<li id="menu-[% menu %]-[% submenu_base %]">
    <a href="#menu/[% menu %]/[% submenu_base %]">
        <span class="submenu-text">[% submenu.label %]</span>
    </a>
</li>

