div#wait-message {
    color: red !important;
    background: white !important;
    font-size: 18px !important;
    float: left;
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 4px;
    border-width: 2px;
    border-style: outset;
    border-color: white;
    display: block;
}

dt {
    font-weight: bold;
}

